

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
   
}

.homepage-root-container{
    background-color: yellow;

    

}
.homepage-nav{
    padding: 10px;
    display: flex;
    color: #ffff;
    align-items: center;
    gap: 12px;
    background-color: #131921;

}

.homepage-nav>h4{
    width: 76px;
    
}
.homepage-nav>p{
    width: 80px;
    
    font-size: 12px;

}
.homepage-search-container{
    height: 30px;
    background-color: red;
    display: flex;
    flex-grow: 1;

    input{
        flex-grow: 1;
    }

}