* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.parent{
    padding: 24px;
    background-color: yellow;
}

.child{
    background-color: pink;
    padding: 24px;
}
@media (width <=500px) {
    .parent{
        height: 200px;
        background-color: black;

    }
}