/* signUpPage.css */

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
}

.signup-container {
  background: url('./src/img/b17.jpg') no-repeat center center fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.signup-form {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 300px;
}

.signup-form h3 {
  margin-bottom: 20px;
  color: #333;
}

.signup-form input {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.signup-form input:focus {
  border-color: #007bff;
  outline: none;
}

.signup-form button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.signup-form button:hover {
  background-color: #0056b3;
}

.signup-form .error {
  color: red;
  font-size: 12px;
  margin-bottom: 10px;
}

.signup-form p {
  margin-top: 10px;
  color: #555;
}

.signup-form a {
  color: #007bff;
  text-decoration: none;
}

.signup-form a:hover {
  text-decoration: underline;
}
