/* SignUp.css */
body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .signup-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url('./src/img/b17.jpg'); /* Add the path to your background image here */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .signup-form {
    background-color: rgba(255, 255, 255, 0.9); /* Slightly transparent background */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    height: 400px;
  }
  
  .signup-form input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .signup-form button {
    width: 100%;
    padding: 10px;
    background-color: #ff9900;
    border: none;
    color: #fff;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .signup-form button:hover {
    background-color: #e68a00;
  }
  
  .error {
    color: red;
    font-size: 12px;
    margin-top: -8px;
    margin-bottom: 8px;
  }
  